<%= form_for(@article, html: {multipart: true}) do |f| %>
  <P>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>

  <P>
    <%= f.label :body %>
    <%= f.text_field :body%>
  </P>

  <p>
    <%= f.label :tag_list %><br />
    <%= f.text_field :tag_list %>
  </p>

  <p>
    <% if @article.image? %>
        <%= image_tag @article.image.url %><br/>
    <% end %>
    <%= f.label :image, "Attach a New Image" %><br />
    <%= f.file_field :image %>
  </p>
  <%= f.submit %>
<%end%>
