<h1> Edit Your Article Here!</h1>
<%= form_for @article do |f| %>
  <P>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>

  <P>
    <%= f.label :body %>
    <%= f.text_field :body%>
  </P>
  <%= f.submit %>
<%end%>
